<p-card [header]="content.header" [style]="{'width': '25rem', 'margin-bottom': '2em', 'background-color': 'rgba(215,215,215,0.1)',
'background-image': 'linear-gradient(45deg, rgba(255,255,255,0), rgba(255,255,255,0.5))'
, 'text-align': 'center'}" styleClass="p-card-shadow">
  <ng-template pTemplate="header">
      <img alt="Card" src="{{content.image}}" [style]="content.ImageStyle">
  </ng-template>
  <ng-template pTemplate="body">
    <p style="margin-top: 0px;"><i>{{content.subHeader}}</i></p>
    <p style="text-align: left;"><strong>{{content.text}}: </strong>{{content.info}} </p>
  </ng-template>
</p-card>