<app-navbar></app-navbar>
<!-- seccion sobre mí -->
<div
  style="height: '100%'"
  class="d-flex justify-content-center align-items-center"
  style="margin-top: 300px"
  *ngIf="loading"
>
  <em class="pi pi-spin pi-spinner" style="font-size: 5rem"></em>
</div>
<ng-container *ngIf="!loading">
  <div class="flex-container card">
    <div class="col-md-4">
      <img
        src="../assets/Jinbe_Manga_Infobox.webp"
        alt=""
        width="300px"
        height="300px"
        style="border-radius: 150px"
      />
      <div
        class="align-items-center flex-row space-between card2"
        style="text-align: center; margin-top: 10px;"
      >
        <a href="https://github.com/Taos98">
          <img
            src=" https://cdn-icons-png.flaticon.com/512/25/25657.png"
            style="height: 2rem; height: 2rem;"
            alt=""
          />
        </a>
        <a href="https://www.linkedin.com/in/tmontecinos/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
            style="height: 2rem; height: 2rem; padding-left: 2rem;"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="col-md-8 space-between"
    style="padding-left: 2rem;">
      <div class="row">
        <p class="titles">Sobre mí:</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi
          nihil dignissimos ipsa odit voluptas quod in expedita placeat saepe
          enim ex unde, animi a aperiam cumque architecto, modi quasi.
        </p>
      </div>
    </div>
  </div>
  <!-- seccion educacion -->
  <div class="d-flex card">
    <p class="titles">Formación académica:</p>
    <div class="d-flex align-items-center justify-content-center"
    style="margin-left: 5rem;">
      <app-card [content]="education"></app-card>
    </div>
  </div>

  <!-- seccion tecnologias -->
  <div class="flex-container">
    <div class="col-md-12">
      <p class="titles">Mis habilidades:</p>
    </div>
  </div>
  <div class="flex-container" *ngIf="!loading">
    <div class="card flex-row">
      <ng-container *ngFor="let item of content">
        <app-card [content]="item"></app-card>
      </ng-container>
    </div>
  </div>
</ng-container>
