<div
  style="height: '100%'"
  class="d-flex justify-content-center align-items-center"
  style="margin-top: 300px"
  *ngIf="loading"
>
  <em class="pi pi-spin pi-spinner" style="font-size: 5rem"></em>
</div>
<ng-container *ngIf="!loading">
  <!-- navbar -->
  <div style="margin-top: -10;">
    <app-navbar></app-navbar>
  </div>
  <!-- end navbar -->

  <!-- about -->
  <app-about></app-about>
  <!-- end about -->

  <!-- laboral experience -->
  <app-laboral-experience></app-laboral-experience>
  <!-- end laboral experience -->

  <!-- education -->
  <app-education></app-education>
  <!-- end education -->

  <!-- tecnologies -->
  <app-tecnologies></app-tecnologies>
  <!-- end tecnologies -->



  <div class="d-flex card">
    <p class="titles">Formación académica:</p>
    <div
      class="d-flex align-items-center justify-content-center"
      style="margin-left: 5rem"
    >
      <app-card [content]="education"></app-card>
    </div>
  </div>

  <!-- seccion tecnologias -->
  <div class="flex-container">
    <div class="col-md-12">
      <p class="titles">Mis habilidades:</p>
    </div>
  </div>
  <div class="flex-container" *ngIf="!loading">
    <div class="card flex-row">
      <ng-container *ngFor="let item of content">
        <app-card [content]="item"></app-card>
      </ng-container>
    </div>
  </div>
</ng-container>
