<div class="flex-container">
    <div class="col-md-4">
      <img
        src="../assets/Jinbe_Manga_Infobox.webp"
        alt=""
        width="300px"
        height="300px"
        style="border-radius: 150px"
      />
      <div
        class="align-items-center flex-row space-between card2"
        style="text-align: center; margin-top: 10px;"
      >
        <a href="https://github.com/Taos98">
          <img
            src=" https://cdn-icons-png.flaticon.com/512/25/25657.png"
            style="height: 2rem; height: 2rem;"
            alt=""
          />
        </a>
        <a href="https://www.linkedin.com/in/tmontecinos/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/174/174857.png"
            style="height: 2rem; height: 2rem; padding-left: 2rem;"
            alt=""
          />
        </a>
      </div>
    </div>
    <div class="col-md-8 space-between"
    style="padding-left: 2rem;">
      <div class="row">
        <p class="titles">Sobre mí:</p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure sequi
          nihil dignissimos ipsa odit voluptas quod in expedita placeat saepe
          enim ex unde, animi a aperiam cumque architecto, modi quasi.
        </p>
      </div>
    </div>
  </div>